<br>
<div class="panel panel-default">
  <div class="panel panel-primary panel-body">
    <!--Cabecera del panel-->
    <h2 class="page-header text-center">{{'TITULO_CARGA_LISTAS' | translate}}</h2>

    <div class="panel-body">
      <div class="row">
        <div class="panel panel-default col-lg-10 col-lg-offset-1">
          <div class="panel-body">
            <form role="form">
              <div class="row">
                <div class="form-group col-lg-9">
                  <label>{{'NUM_DOC_IDENTIDAD'| translate}}</label>
                  <input type="text" ng-model="cargaDocumentosDocente.Documento" class="form-control" placeholder="{{'PLACE_NUM_DOC'| translate}}" required>
                </div>
                <div class="form-group col-lg-3">
                  <label>  </label>
                  <input type="submit" class="form-control btn btn-success" value="{{'ACCION_CONSULTAR_NUM_DOC' | translate}}" ng-click="">
                </div>
                <div class="form-group col-lg-6">
                  <label>{{'NOM_DOCENTE'| translate}}</label>
                  <input type="text" class="form-control" ng-model="cargaDocumentosDocente.docente.Nombre">
                </div>
              </div>

              <div style="height: {{gridHeight}}px;" ui-grid="cargaDocumentosDocente.gridOptions1" align='center' ui-grid-auto-resize></div>

            </form>

            <div class="row">
              <div class="col-md-3">
                <label for="input_resumen" class="col-form-label">Seleccione el Documento</label>
              </div>
              <div class="col-md-9">
                <input type='file' class="form-control" file-model='fileModel'>
              </div>
            </div>
            <button ng-click="cargaDocumentosDocente.subir_documento()">
        subir
      </button>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
