<br>
<div class="panel panel-default">
  <div class="panel panel-primary panel-body">
    <!--Cabecera del panel-->
    <h2 class="page-header text-center">{{ 'TITULO_REG_CUMPLIDO' | translate }}</h2>

  <div class="panel-body">
    <div class="row">
      <div class="panel panel-default col-lg-6">
        <div class="panel-body">
          <form role="form">
            <div class="row">
              <div class="form-group col-lg-7">
                <label>{{ 'NUM_DOC_IDENTIDAD' | translate }}</label>
                <input type="text" class="form-control" ng-model="crearCumplido.Documento" placeholder="{{ 'PLACE_NUM_DOC' | translate }}" required>
              </div>
              <div class="form-group col-lg-5">
                  <label></label>
                  <input type="submit" class="form-control btn btn-success" value="{{ 'ACCION_CONSULTAR_NUM_DOC' | translate }}" ng-click="crearCumplido.obtener_informacion_cumplido()">
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'NAME_CONTRATISTA' | translate }}</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.nombre_completo">
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'TIPO_DOC' | translate }}</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.Documento.tipo">
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'CIUDAD_DOC' | translate }}</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.Documento.ciudad">
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'NUM_CONTRAC' | translate }}</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido.numero_contrato">
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'FECH_SUSC_CONT' | translate }}</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.contrato.fecha">
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'UNIDAD_EJE' | translate }}</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.unidad_ejecutora.nombre">
              </div>

              <div class="form-group col-lg-6">
                <label>{{ 'VIGENCIA' | translate }}</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido.vigencia">
              </div>

              <div class="form-group col-lg-6">
                <label>{{ 'TIPO_CUENTA' | translate }}</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.cuenta.tipo">
              </div><div class="form-group col-lg-6">
                <label>{{ 'BANCO' | translate }}</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.cuenta.banco">
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'NUM_CUENTA' | translate }}</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.cuenta.numero">
              </div>

              <div class="form-group col-lg-6">
                <label>{{ 'DEPENDENCIA' | translate }}</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.dependencia">
              </div>

              <div class="form-group col-lg-6">
                <label>{{ 'SUPERVISOR' | translate }}</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.supervisor.nombre">
              </div>

              <div class="form-group col-lg-6">
                <label>{{ 'CARGO_SUP' | translate }}</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.supervisor.cargo">
              </div>

              <div class="form-group col-lg-6">
                <label>{{ 'CUMPLIDO_MES' | translate }}</label>
                    <select class="form-control"  ng-model="crearCumplido.cumplido_informacion.mes" required>
                           <option value="">{{ 'PLACE_MES' | translate }}</option>
                           <option value="ENERO">ENERO</option>
                           <option value="FEBRERO">FEBRERO</option>
                           <option value="MARZO">MARZO</option>
                           <option value="ABRIL">ABRIL</option>
                           <option value="MAYO">MAYO</option>
                           <option value="JUNIO">JUNIO</option>
                           <option value="JULIO">JULIO</option>
                           <option value="AGOSTO">AGOSTO</option>
                           <option value="SEPTIEMBRE">SEPTIEMBRE</option>
                           <option value="OCTUBRE">OCTUBRE</option>
                           <option value="NOVIEMBRE">NOVIEMBRE</option>
                           <option value="DICIEMBRE">DICIEMBRE</option>
                    </select>
              </div>
              </div>

              <div class="form-group col-lg-6">
                <label>{{ 'DIAS_LABORADOS' | translate }}</label><br>
                <p>{{ 'PLACE_DIAS_LAB' | translate }}</p>
                {{ 'DIA_INI' | translate }}<input type="number" class="form-control" ng-model="crearCumplido.cumplido_informacion.dia_inicial" required>
                {{ 'DIA_FIN' | translate }}<input type="number" class="form-control" ng-model="crearCumplido.cumplido_informacion.dia_final" required>

              </div>

              <div class="form-group col-lg-6">
                <label>{{ 'VALOR_COB' | translate }}</label><br>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.valor_cobro">
              </div><br>

              <!--<div class="form-group col-lg-3">
                  <input  type="submit" class="form-control btn btn-success" value="Consultar valor a cobrar" ng-click="crearCumplido.obtener_pago()">
              </div>-->

        </div>

                <div class="form-group col-lg-8 col-lg-offset-2">
                    <label></label>
                    <input type="submit" class="form-control btn btn-success" value="{{ 'GEN_CUMPLIDO' | translate }}" ng-click="crearCumplido.generarPDF()">
                </div>
          </form>
        </div>


      <div class=" row col-lg-6" id="cumplido">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="intro-text text-center">{{ 'VISTA_CUMPLIDO' | translate }}</h4>
            </div>
            <div class="panel-body">
                <button type="submit" class="form-control btn-primary" ng-click="crearCumplido.generarPDF()">{{ 'VISTA_CUMPLIDO_ACTUALIZADO' | translate }}</button>
                <iframe id="vistaPDF" frameborder='0' width='100%' height='770'> </iframe>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


</div>
  </div>
