<br>
<div class="panel panel-default">
  <div class="panel panel-primary panel-body">
    <!--Cabecera del panel-->
    <h2 class="page-header text-center">INFORME DE GESTIÓN</h2>

  <div class="panel-body">
    <div class="row">
      <div class="panel panel-default col-lg-10 col-lg-offset-1">
        <div class="panel-body">
          <form role="form">
            <div class="row">
              <div class="form-group col-lg-9">
                <label>NUMERO DOCUMENTO DE IDENTIDAD</label>
                <input type="text" class="form-control" ng-model="crearInforme.Documento" placeholder="Ingrese su número de documento de identidad" required>
              </div>
              <div class="form-group col-lg-6">
                <label>FECHA SUSCRIPCIÓN CONTRATO</label>
                <input type="text" class="form-control" ng-model="crearInforme.informe.Fecha_suscripcion" required>
              </div>
              <div class="form-group col-lg-6">
                <label>NOMBRE</label>
                <input type="text" class="form-control" ng-model="crearInforme.informe.Nombre" required>
              </div>
              <div class="form-group col-lg-6">
                <label>NUMERO DOCUMENTO DE IDENTIDAD</label>
                <input type="text" class="form-control" ng-model="crearInforme.informe.Documento" required>
              </div>
              <div class="form-group col-lg-6">
                <label>DEPENDENCIA</label>
                <select class="form-control"  ng-model="crearInforme.informe.Dependencia" ng-options="option.Nombre for option in crearInforme.dependencias">
                      <option value="">--Elija la dependencia a la que pertenece--</option>
                </select>
              </div>
              <div class="form-group col-lg-6">
                <label>CUMPLIDO DEL MES</label>
                <input type="text" class="form-control" ng-model="crearInforme.informe.Mes" required>
              </div>
              <div class="form-group col-lg-6">
                <label>FECHA INICIO DEL CONTRATO</label>
                <input type="text" class="form-control" ng-model="crearInforme.informe.Fecha_inicio" required>
              </div>
              <div class="form-group col-lg-6">
                <label>FECHA FIN DEL CONTRATO</label>
                <input type="text" class="form-control" ng-model="crearInforme.informe.Fecha_fin" required>
              </div>
              <div class="form-group col-lg-12">
                  <label>OBJETO DEL CONTRATO</label>
                  <textarea rows="7" class="form-control" ng-model="crearInforme.informe.Objeto" required></textarea>
              </div>
              </div>
          </form>
      </div>

      <button type="button" id="addData" class="btn btn-success" ng-click="addData()">Agregar registro</button>

      <div style="height: {{gridHeight}}px;" ui-grid="crearInforme.gridOptions1" align='center' ui-grid-auto-resize></div>

                <div class="form-group col-lg-8 col-lg-offset-2">
                    <label></label>
                    <input type="submit" class="form-control btn btn-success" value="Generar Informe" ng-click="resolucionGeneracion.crearResolucion()">
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
  </div>
