<br>
<div class="panel panel-default">
  <div class="panel panel-primary panel-body">
    <!--Cabecera del panel-->
    <h2 class="page-header text-center">CUMPLIDO</h2>

  <div class="panel-body">
    <div class="row">
      <div class="panel panel-default col-lg-10 col-lg-offset-1">
        <div class="panel-body">
          <form role="form">
            <div class="row">
              <div class="form-group col-lg-9">
                <label>NUMERO DOCUMENTO DE IDENTIDAD</label>
                <input type="text" class="form-control" ng-model="crearCumplido.Documento" placeholder="Ingrese su número de documento de identidad" required>
              </div>
              <div class="form-group col-lg-3">
                  <input type="submit" class="form-control btn btn-success" value="Consultar Información" ng-click="crearCumplido.obtener_informacion_cumplido()">
              </div>
              <div class="form-group col-lg-6">
                <label>NOMBRE</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.nombre_completo">
              </div>
              <div class="form-group col-lg-6">
                <label>TIPO DOCUMENTO</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.Documento.tipo">
              </div>
              <div class="form-group col-lg-6">
                <label>CIUDAD</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.Documento.ciudad">
              </div>
              <div class="form-group col-lg-6">
                <label>NUMERO CONTRATO</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido.numero_contrato">
              </div>
              <div class="form-group col-lg-6">
                <label>FECHA SUSCRIPCIÓN CONTRATO</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.contrato.fecha">
              </div>
              <div class="form-group col-lg-6">
                <label>TIPO CUENTA</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.cuenta.tipo">
              </div><div class="form-group col-lg-6">
                <label>BANCO</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.cuenta.banco">
              </div>
              <div class="form-group col-lg-6">
                <label>NÚMERO CUENTA</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.cuenta.numero">
              </div>

              <div class="form-group col-lg-6">
                <label>DEPENDENCIA</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.dependencia">
              </div>

              <div class="form-group col-lg-6">
                <label>SUPERVISOR DEL CONTRATO</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.supervisor.nombre">
              </div>

              <div class="form-group col-lg-6">
                <label>CARGO SUPERVISOR DEL CONTRATO</label>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.supervisor.cargo">
              </div>

              <div class="form-group col-lg-6">
                <label>CUMPLIDO DEL MES</label>
                    <select class="form-control"  ng-model="crearCumplido.cumplido_informacion.mes" required>
                           <option value="">--Elija el mes al cual corresponde el cumplido--</option>
                           <option value="ENERO">ENERO</option>
                           <option value="FEBRERO">FEBRERO</option>
                           <option value="MARZO">MARZO</option>
                           <option value="ABRIL">ABRIL</option>
                           <option value="MAYO">MAYO</option>
                           <option value="JUNIO">JUNIO</option>
                           <option value="JULIO">JULIO</option>
                           <option value="AGOSTO">AGOSTO</option>
                           <option value="SEPTIEMBRE">SEPTIEMBRE</option>
                           <option value="OCTUBRE">OCTUBRE</option>
                           <option value="NOVIEMBRE">NOVIEMBRE</option>
                           <option value="DICIEMBRE">DICIEMBRE</option>
                    </select>
              </div>
              </div>

              <div class="form-group col-lg-6">
                <label>DIAS LABORADOS</label><br>
                <p>POR FAVOR INGRESE EL RANGO DE DIAS LABORADOS PARA OBTENER EL VALOR A COBRAR</p>
                DÍA INICIO<input type="number" class="form-control" ng-model="crearCumplido.cumplido_informacion.dia_inicial" required>
                DÍA FIN<input type="number" class="form-control" ng-model="crearCumplido.cumplido_informacion.dia_final" required>

              </div>

              <div class="form-group col-lg-6">
                <label>VALOR A COBRAR</label><br>
                <input type="text" class="form-control" ng-model="crearCumplido.cumplido_informacion.valor_cobro">
              </div><br>

              <div class="form-group col-lg-3">
                  <input  type="submit" class="form-control btn btn-success" value="Consultar valor a cobrar" ng-click="crearCumplido.obtener_pago()">
              </div>

      </div>





                <div class="form-group col-lg-8 col-lg-offset-2">
                    <label></label>
                    <input type="submit" class="form-control btn btn-success" value="Generar Cumplido" ng-click="resolucionGeneracion.crearResolucion()">
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
  </div>
